@inherits HCM.Client.ModalTemplate

<div class="modal modal_container @(IsVisible ? "modal_active":string.Empty)" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal_overlay" @onclick="@CloseModal"></div>
    <div class="blazor_modal modal_content">
        <div class="modal_header">
            <h3 class="modal_title">Set the role properties</h3>
            <button type="button" class="modal_close" data-dismiss="modal" aria-label="Close" @onclick="@CloseModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal_body align-content-center">
            <div class="form-group">
                <label for="dtpSince">Has worked in this role since:</label>
                <input id="dtpSince" type="date" class="form-control"/>
            </div>
        </div>
        <div class="modal_footer">
            <div>
                <button @onclick="@CloseModal" type="button" class="btn btn-primary">
                    Cancel
                </button>
                <button @onclick="@CloseModal" type="button" class="btn btn-secondary">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>


@code{
}