@using Microsoft.AspNetCore.Components;
@namespace  HCM.Client.Components.Grid

<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                @if (CheckBoxSelection)
                {
                    <th style="width: 10px"></th>
                }
                @foreach (var column in Columns)
                {
                    <th class='sorting @(GetSortStyle(column.Field))' style="width: @columnWidth%" @onclick='(() => SortGrid(column.Field))'>@(column.Title ?? column.Field)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (object item in Data)
            {
                <tr @onclick="@(e => ChangeSelection(e, item))" class="@(IsSelected(item) ? "table-active" : null)" @ondblclick='(() => DoubleClick(SelectedItem))'>
                    @if (CheckBoxSelection)
                    {
                        <th>
                            <input type="checkbox" />
                        </th>
                    }
                    @foreach (GridColumn column in Columns)
                    {
                        if (column.Template == null)
                        {
                            var value = @item.GetType().GetProperty(column.Field).GetValue(item);
                            <td class="align-middle">
                                @(string.IsNullOrEmpty(column.Format) ? value : string.Format(column.Format, value))
                            </td>
                        }
                        else
                        {
                            <td class="text--vertMiddle">
                                @column.Template(item)
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private int columnWidth = 100;
    private string sortColumn = string.Empty;
    private bool sortAscending = true;

    public object SelectedItem { get; private set; }

    private bool IsSelected(object item) => item.Equals(SelectedItem);

    private void ChangeSelection(EventArgs e, object item)
    {
        if (IsSelected(item))
        {
            return;
        }

        SelectedItem = item;

        Click(SelectedItem);
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IEnumerable<object> Data { get; set; }

    [Parameter]
    public bool CheckBoxSelection { get; set; }

    internal List<GridColumn> Columns { get; set; } = new List<GridColumn>();

    protected override void OnParametersSet()
    {
        if (Columns.Count > 0)
            columnWidth = 100 / Columns.Count;
    }

    protected string GetSortStyle(string columnName)
    {
        return sortColumn == columnName ? (sortAscending ? "sorting_asc" : "sorting_desc") : string.Empty;
    }

    protected void SortGrid(string columnName)
    {
        sortAscending = sortColumn == columnName ? !sortAscending : true;
        sortColumn = columnName;

        OnSort.InvokeAsync(new SortEventArgs { ColumnName = sortColumn, SortingAscending = sortAscending });
    }

    /// <summary>
    ///  Event occurs when the user clicks on a column header to sort.
    /// </summary>
    [Parameter]
    public EventCallback<SortEventArgs> OnSort { get; set; }

    protected void DoubleClick(object item)
    {
        OnDoubleClick.InvokeAsync(new DblClickEventArgs { SelectedItem = item });
    }

    [Parameter]
    public EventCallback<DblClickEventArgs> OnDoubleClick { get; set; }

    protected void Click(object item)
    {
        OnClick.InvokeAsync(new OnClickEventArgs { itemShown = item });
    }

    [Parameter]
    public EventCallback<OnClickEventArgs> OnClick { get; set; }
}