@page "/event/{Id:int}"

@using HCM.Client.Components;
@using HCM.Shared.Enums;
@using HCM.Client.Components.ScoreRating

@inject NavigationManager navigationManager
@inject ModalService ModalService
@inject Blazored.SessionStorage.ISessionStorageService user_name
@inject HttpClient httpClient

<form class="needs-validation">
    @if (events != null)
    {
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Involved Employees:</label>
                    <MultiSelect TItem="GqlEmployee" Placeholder="Type to Search" Items="Employees" Values="events.Is_to" DisplayFieldSelector="@(i => i.Name)" OnValueRemoved="@ToEmployeeRemoved" OnAddNewItem="@AddNewToEmployee" />
                </div>
            </div>
            <div class="col">
                <label for="txtSubject">Subject:</label>
                <input id="txtSubject" type="text" class="form-control" placeholder="Enter a subject" @bind="events.Subject" />
                <div class="invalid-feedback">
                    You must enter a subject
                </div>
            </div>
        </div>
        <div class="form-row" style="z-index:0">
            <div class="col">
                <label for="schProject">Project:</label>
                <MultiSelect TItem="GqlProject" Placeholder="Type to Search" Items="projects" DisplayFieldSelector="@(i => i.Name)" Values="events.Event_of" OnValueRemoved="@ProjectRemoved" OnAddNewItem="@AddNewProject" />
                <div class="invalid-feedback">
                    You must enter a valid project
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="txtScope">Scope:</label>
                    <MultiSelect TItem="GqlScope" Placeholder="Type to Search" Items="scopes" DisplayFieldSelector="@(i => i.Name)" Values="events.Scopes" OnValueRemoved="@ScopesRemoved" OnAddNewItem="@AddNewScope" Layout="LayoutEnum.Vertical" />
                </div>
            </div>
        </div>
        <div class="form-row" style="z-index:-1">
            <div class="col">
                <label for="dtpDate">Date:</label>
                <input id="dtpDate" type="date" class="form-control" placeholder="Date" @bind="events.Date" />
            </div>
            <div class="col">
                <label>Score:</label>
                <ScoreRating @bind-Value="events.Score" >
                    <ScoreRatingOption Title="Very Bad" Color="#e62325" Value="-2" />
                    <ScoreRatingOption Title="Bad" Color="#fe8500" Value="-1" />
                    <ScoreRatingOption Title="Neutral" Color="#fed500" Value="0" />
                    <ScoreRatingOption Title="Good" Color="#81b532" Value="1" />
                    <ScoreRatingOption Title="Very Good" Color="#00884b" Value="2" />
                </ScoreRating>
            </div>
        </div>
        <textarea placeholder="Description of the incident" style="width:100%" rows="10" @bind="events.Description"></textarea>
        <button class="btn btn-primary underline-first-letter" type="button" accesskey="s" @onclick="Save">Save</button>
        <button class="btn btn-secondary underline-first-letter" accesskey="c" @onclick="Cancel">Cancel</button>
    }
    <datalist id="listamodelos">
        @if (projects != null)
        {
            foreach (var project in projects)
            {
                <option value="@project.Name" />
            }
        }
    </datalist>
</form>
@code {
    [Parameter]
    public int Id { get; set; }
    private GraphQLApiClient gql = null;
    private GqlEvents events = null;
    private List<GqlEmployee> Employees;
    private List<GqlEmployee> RemovedEmployees;

    private List<GqlProject> projects;
    private List<GqlProject> Removedprojects;

    private List<GqlScope> scopes;
    private List<GqlScope> Removedscopes;

    protected override async Task OnInitializedAsync()
    {
        var user_name_session = await user_name.GetItemAsync<string>("user_name_session");

        if (user_name_session == null)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            gql = new GraphQLApiClient(httpClient, "http://localhost:7474/graphql/");

            if (Id > 0)
            {
                var query = gql.Events(string.Empty, _id: Id, fields: e => new GqlEvents
                {
                    Subject = e.Subject,
                    Description = e.Description,
                    Is_to = new List<GqlEmployee>
{
                    new GqlEmployee
                    {
                        Name = ""
                    }
                    },
                    Scopes = new List<GqlScope>
{
                    new GqlScope
                    {
                        Name =""
                    }
                    },
                    Date = e.Date,
                    Score = e.Score,
                    Event_of = new List<GqlProject>
{
                        new GqlProject
                        {
                            Name = ""
                        }
                    }
                });

                events = (await query.RunAsync()).FirstOrDefault();
            }
            else
                events = new GqlEvents { Date = DateTime.Today, Is_to = new List<GqlEmployee>(), Scopes = new List<GqlScope>(), Event_of = new List<GqlProject>() };

            ////Load Employees
            Employees = await gql.Employee(string.Empty, fields: r => new GqlEmployee
            {
                _id = r._id,
                Name = r.Name
            }).RunAsync();

            RemovedEmployees = new List<GqlEmployee>();

            //Load Projecs
            projects = await gql.Project(string.Empty, fields: p => new GqlProject
            {
                _id = p._id,
                Name = p.Name
            }).RunAsync();
            Removedprojects = new List<GqlProject>();

            scopes = await gql.Scope(string.Empty, fields: s => new GqlScope
            {
                _id = s._id,
                Name = s.Name
            }).RunAsync();
            Removedscopes = new List<GqlScope>();

            Console.WriteLine(Employees.Count);
        }
    }

    public void ToEmployeeRemoved(GqlEmployee employee)
    {
        RemovedEmployees.Add(employee);
        events.Is_to.Remove(employee);
        Console.WriteLine("Employees: " + RemovedEmployees.Count);
    }

    public void AddNewToEmployee(string text)
    {
        var newToemployee = new GqlEmployee { Name = text };
        Employees.Add(newToemployee);
        events.Is_to.Add(newToemployee);
    }

    public void ScopesRemoved(GqlScope scope)
    {
        Removedscopes.Add(scope);
        events.Scopes.Remove(scope);
        Console.WriteLine("Scopes: " + Removedscopes.Count);
    }

    public void AddNewScope(string text)
    {
        var newScope = new GqlScope { Name = text };
        scopes.Add(newScope);
        events.Scopes.Add(newScope);
    }

    public void ProjectRemoved(GqlProject project)
    {

        Removedprojects.Add(project);
        events.Event_of.Remove(project);
        Console.WriteLine("Projects: " + Removedprojects.Count);
    }

    public void AddNewProject(string text)
    {
        var newProject = new GqlProject { Name = text };
        projects.Add(newProject);
        events.Event_of.Add(newProject);
    }

    public async void Save()
    {
        // Save logbook
        await gql.MergeEvents(string.Empty, date: events.Date, description: events.Description, score: events.Score, subject: events.Subject).RunAsync();
        SaveEmployees();
        SaveScopes();
        SaveProjects();
        Cancel();
    }

    private async void SaveProjects()
    {
        // Insert newly created projects, if any
        foreach (var projects in projects.Where(s => !s._id.HasValue))
            await gql.CreateProject(string.Empty, projects.Name).RunAsync();

        // Save event projects
        await gql.AddEventsEvent_of(string.Empty, subject: events.Subject, event_of: events.Event_of.Select(s => s.Name).ToArray()).RunAsync();

        //Delete removed projects, if any
        var ProjectsToRemove = Removedprojects.Select(s => s.Name).Except(events.Scopes.Select(es => es.Name));

        if (ProjectsToRemove.Any())
            await gql.DeleteEventsEvent_of(string.Empty, subject: events.Subject, event_of: ProjectsToRemove.ToArray()).RunAsync();
    }

    private async void SaveScopes()
    {
        // Insert newly created scopes, if any
        foreach (var scope in scopes.Where(s => !s._id.HasValue))
            await gql.CreateScope(string.Empty, scope.Name).RunAsync();

        // Save event scopes
        await gql.AddEventsScopes(string.Empty, subject: events.Subject, scopes: events.Scopes.Select(s => s.Name).ToArray()).RunAsync();

        //Delete removed scopes, if any
        var ScopesToRemove = Removedscopes.Select(s => s.Name).Except(events.Scopes.Select(es => es.Name));

        if (ScopesToRemove.Any())
            await gql.DeleteEventsScopes(string.Empty, subject: events.Subject, scopes: ScopesToRemove.ToArray()).RunAsync();
    }

    private async void SaveEmployees()
    {
        // Save event employees
        await gql.AddEventsIs_to(string.Empty, subject: events.Subject, is_to: events.Is_to.Select(s => s.Name).ToArray()).RunAsync();

        //Save the employee who is doing the event
        var user_name_session = await user_name.GetItemAsync<string>("user_name_session");
        await gql.AddEventsIs_from(string.Empty, subject: events.Subject, is_from: new string[] { user_name_session }).RunAsync();

        //Delete event employees
        var EmployeesToRemove = RemovedEmployees.Select(s => s.Name).Except(events.Scopes.Select(es => es.Name));

        if (EmployeesToRemove.Any())
            await gql.DeleteEventsIs_to(string.Empty, subject: events.Subject, is_to: EmployeesToRemove.ToArray()).RunAsync();
    }

    public void Cancel()
    {
        navigationManager.NavigateTo("/events");
    }


}
