@page "/"
@inject NavigationManager navigationManager
@inject Blazored.SessionStorage.ISessionStorageService user_name
@inject HttpClient httpClient

<!doctype html>
<html lang="en">

<head>
    <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
    @if (employee != null)
    {
    <div class="container-fluid">
        <div class="panel panel-headline">
            <div class="panel-heading">
                <h3 class="panel-title">Dashboard</h3>
                <p class="panel-subtitle">Period: @date_short</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="oi oi-briefcase"></i></span>
                            <p>
                                @foreach (var works_for in employee.WorksFor)
                                {
                                <span class="number">@works_for.Name</span>
                                }
                                    <span class="title">Works for</span>
                                </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="oi oi-people"></i></span>
                            <p>
                                @foreach (var member in employee.IsMemberOf)
                                {
                                <span class="number">@member.Name</span>
                                }
                                <span class="title">Member of</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @foreach (var work_as in employee.WorksAs)
                        {
                        <div class="metric">
                            <span class="icon"><i class="oi oi-monitor"></i></span>
                            <p>
                                <span class="number">@work_as.Name</span>
                                <span class="title">Work as</span>
                            </p>
                        </div>
                        }
                    </div>
                    <div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="oi oi-home"></i></span>
                            <p>
                                @foreach (var country in employee.LivesIn)
                                {
                                <span class="number">@country.Name</span>
                                }
                                <span class="title">Lives in</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
        }
</body>
</html>


@code {

    private GraphQLApiClient gql = null;
    private GqlEmployee employee = null;
    DateTime date;
    string date_short;

    protected override async Task OnInitializedAsync()
    {
        var user_name_session = await user_name.GetItemAsync<string>("user_name_session");

        if (user_name_session == null)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            await Search();
        }
    }

    protected async Task Search()
    {
        var user_name_session = await user_name.GetItemAsync<string>("user_name_session");
        gql = new GraphQLApiClient(httpClient, "http://localhost:7474/graphql/");

        if (user_name_session != null)
        {
            var query = gql.Employee(string.Empty, name: user_name_session, fields: e => new GqlEmployee
            {
                _id = e._id,
                Name = e.Name,
                IsMemberOf = new List<GqlTeam>
                {
                    new GqlTeam
                    {
                    Name = ""
                    }
                },
                WorksFor = new List<GqlClient>
                {
                    new GqlClient
                    {
                        Name= ""
                    }
                },
                LivesIn= new List<GqlCountry>
                {
                    new GqlCountry
                    {
                        Name = ""
                    }
                },
                WorksAs= new List<GqlRole>
                {
                    new GqlRole
                    {
                        Name = ""
                    }
                }
            });
            employee = (await query.RunAsync()).FirstOrDefault();
            date = DateTime.Today;
            date_short = date.ToShortDateString();
        }
    }
}