@page "/experiences"
@using HCM.Client.Components
@using HCM.Client.Components.Grid
@using HCM.Client.Components.Modals
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject ModalService ModalService
@inject Blazored.SessionStorage.ISessionStorageService user_name

<DeleteModal OnDelete="@DeleteExperience" />

<div class="btn-toolbar row margin-btm-small" role="toolbar">
    <button type="button" class="btn btn-outline-primary mr-1" @onclick="NewExperience">
        <span class="oi oi-plus" />
        New
    </button>
    <button type="button" class="btn btn-outline-secondary mr-1" @onclick="EditExperience">
        <span class="oi oi-pencil" />
        Edit
    </button>
    <button type="button" class="btn btn-outline-danger mr-1" @onclick="ConfirmDelete">
        <span class="oi oi-x" />
        Delete
    </button>
</div>

<div class="row margin-bottom-small">
    <SearchBox @bind-SearchTerm="SearchTerm" PlaceHolder="Search Experience..." />
</div>

<div class="row">
    <Grid @ref="grid" Data="@experiences" OnDoubleClick="@EditExperience" OnSort="@OnGridSort" Pages="@pages" OnPageChange="@OnPageChange">
        <GridColumns>
            <GridColumn Field="@nameof(GqlEmployee.Name)" />
        </GridColumns>
    </Grid>
</div>

@code {
    private GraphQLApiClient gql = null;
    private List<GqlExperience> experiences = null;

    private Gql_ExperienceOrdering sorting = Gql_ExperienceOrdering.name_asc;

    private int page = 1;
    private int pages = 0;

    private Grid grid;

    protected override async Task OnInitializedAsync()
    {
        var user_name_session = await user_name.GetItemAsync<string>("user_name_session");

        if (user_name_session == null)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            await Search();
        }
    }

    private string searchTerm;
    public string SearchTerm
    {
        get { return searchTerm; }
        set { searchTerm = value; Search(); }
    }

    protected async Task Search()
    {
        gql = new GraphQLApiClient(httpClient, "http://localhost:7474/graphql/");

        var query = gql.Experience(string.Empty, first: 10, offset: (page - 1) * 10, filter: string.IsNullOrEmpty(SearchTerm) ? null : new Gql_ExperienceFilter { OR = new List<Gql_ExperienceFilter> { new Gql_ExperienceFilter { Name_contains = SearchTerm } } }, orderBy: new[] { sorting }, fields: e => new GqlExperience
        {
            _id = e._id,
            Name = e.Name,
        });

        experiences = await query.RunAsync();

        pages = Convert.ToInt32(Math.Ceiling(((await gql.EmployeeCount(string.Empty).RunAsync()).FirstOrDefault() ?? 1) / 10M));

        StateHasChanged();
    }

    public void OnGridSort(SortEventArgs e)
    {
        switch (e.ColumnName)
        {
            case nameof(GqlExperience.Name):
                sorting = e.SortingAscending ? Gql_ExperienceOrdering.name_asc : Gql_ExperienceOrdering.name_desc;
                break;
        }

        Search();
    }

    public void OnPageChange(PageChangeEventArgs e)
    {
        page = e.Page;
        Search();
    }

    public void NewExperience()
    {
        navigationManager.NavigateTo("/experience/" + -1);
    }

    public void EditExperience()
    {
        if (grid.SelectedItem != null)
            navigationManager.NavigateTo("/experience/" + (grid.SelectedItem as GqlExperience)._id);
    }

    public void ConfirmDelete()
    {
        if (grid.SelectedItem != null)
        {
            string deleteItemName = (grid.SelectedItem as GqlExperience).Name;
            bool showModal = true;
            ModalService.ShowModal(showModal, deleteItemName);
        }
    }

    public void DeleteExperience()
    {
        gql.DeleteExperience(string.Empty, (grid.SelectedItem as GqlExperience).Name).RunAsync();
        ModalService.CloseModal();
        Search();
    }
}