@using System.Collections;
@using Microsoft.AspNetCore.Components;
<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

<div class="container">
    <div class="score-rating"> 
        @for (int i = 0; i <= Options.Count - 1; i++)
        {  
            <input id="@i" type="radio" name="rating" value="@Options[i].Value" checked="@Options[i].Checked" /><label for="@i" style="background-color:@Options[i].Color" title="@Options[i].Title"></label>
        }      
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    internal List<ScoreRatingOption> Options { get; set; } = new List<ScoreRatingOption>();
}
